.AuthContainer{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: fill;
    opacity: 0.8;
    display: grid;
    background-image: url('https://images.pexels.com/photos/2507025/pexels-photo-2507025.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}


/* @media (max-aspect-ratio:16/9){
    .videoCover{
        width: auto;
        height: auto;
    }
} */
