.dropdown-menu {
    animation: 0.5s slideup;
  }
  
  @keyframes slideup {
    from {
      transform: translateY(10%);
    }
  
    to {
      transform: translateY(0);
    }
  }

.customcss-nav-p{
  font-size: 24px;
  font-weight: 600;
  margin:clamp(80px 20px 100px)
}
  